<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShuoYing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4783B7241E10B0B300EBCEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4783B73D1E10B0B400EBCEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4783B7481E10B0B400EBCEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
